@use "../mixins.scss";

@include mixins.fonts;

.navbar {
    padding: 10px 20px 0 20px;
}

.links {
    @include mixins.hflex;
    padding-left: 20px;
}

.link {
    margin-right: 10px;
    font-family: OpenSans;
    border: 1px solid white;
    border-radius: 5px;
    padding: 2px 7px;

    &:hover {
        border-color: black;
    }
}

.title {
    font-family: OpenSans;
    font-size: 30px;
    font-weight: 600;
}
