@mixin hflex {
    display: flex;
    flex-direction: horizontal;
}

@mixin vflex {
    display: flex;
    flex-direction: vertical;
}

@mixin fonts {
    @font-face {
        font-family: OpenSans;
        src: url("../fonts/OpenSans.ttf");
    }
    @font-face {
        font-family: OpenSans-Italic;
        src: url("../fonts/OpenSans-Italic.ttf");
    }
}
