@mixin hflex {
    display: flex;
    flex-direction: row;
}

@mixin vflex {
    display: flex;
    flex-direction: column;
}

@mixin pointer {
    &:hover {
        cursor: pointer;
    }
}

@mixin fonts {
    @font-face {
        font-family: OpenSans;
        src: url("../fonts/OpenSans.ttf");
    }
    @font-face {
        font-family: OpenSans-Italic;
        src: url("../fonts/OpenSans-Italic.ttf");
    }
    @font-face {
        font-family: Inconsolata;
        src: url("../fonts/Inconsolata.ttf");
    }
}
